<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_Request</title>
</head>
<body>
  {% block body %}
  <div title="Student">
    <h3>
      طلبات قيد الموافقة
    </h3>
    <div class='card-group'>
      {% for i in waited %}
      <div class="card bg-light text-dark" >
        <div class="card-header">

          {{i.title |safe }}

        </div>
    <div class="card-body">

      <p class="card-text">{{i.info |safe }}</p>
      {% if auth == 1 %}
      <a href="{{i.id  | safe}}" class="card-link">موافقة</a>
      <br>

      <a href="del/{{i.id  | safe}}" class="card-link">حذف</a>


      {% endif %}
      <br>
<br>
      {% if auth == 3 %}
      <a href="del/{{i.id  | safe}}" class="card-link">حذف</a>

<br>
      <a href="edit/{{i.id  | safe}}" class="card-link">تعديل</a>
      {% endif %}

      <br>

    </div>
  </div>
  <h2> -------------------- </h2>

  {% endfor %}
</div>


<hr>




<div title="Student">
  <h3>طلبات لم تكفل بعد
  </h3>
  <div class='card-group'>
    {% for i in approved %}
    <div class="card bg-light text-dark" >
      <div class="card-header">
        {{i.title |safe}}
      </div>
  <div class="card-body">

    <p class="card-text">{{i.info  | safe}}</p>
    <br>
    {% if auth == 1 %}
    <a href="del/{{i.id  | safe}}" class="card-link">حذف</a>


    {% endif %}



</div>
<h2> -------------------- </h2>

{% endfor %}
</div>
<hr>

<div title="Student">
  <h3>
    طلبات مكفولة
  </h3>
  <div class='card-group'>
    {% for i in sponsed %}
    <div class="card bg-light text-dark" >
      <div class="card-header">
        {{i.title | safe}}

      </div>
  <div class="card-body">

    <p class="card-text"> {{i.info  | safe}}</p>
    <p class="card-text"> اسم الكفيل : {{ i.sponser | safe }}</p>
    <p class="card-text"> رقم الهاتف: {{ i.sNumber | safe }}</p>

    <br>
    {% if auth == 1 %}
    <a href="del/{{i.id  | safe}}" class="card-link">حذف</a>


    {% endif %}
  </div><h2> -------------------- </h2>
  {%endfor%}
</div>

</div>
{% endblock %}
</body>
</html>
