<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_Request</title>
</head>
<body>
  {% block body %}
  <div title="Student">
    <div class='rounded border bg-dark'>
      طلبات قيد الموافقة
    </div>
    <div class='card-group'>
      {% for i in waited %}
      <div class="card bg-light text-dark" >
        <div class="card-header">
          {{i.title}}
        </div>
    <div class="card-body">

      <p class="card-text">{{i.info}}</p>
      {% if auth == 1 %}
      <a href="{{i.id  | safe}}" class="card-link">مواقفة</a>
      <br>
      {% endif %}
      <br>
      <a href="del/{{i.id  | safe}}" class="card-link">حذف</a>

       <br>
      {% if auth == 3  %}
      <a href="edit/{{i.id  | safe}}" class="card-link">تعديل</a>
      {%  endif  %}
      <br>


    </div>
  </div>
  {% endfor %}
</div>


<br>




<div title="Student">
  <div class='rounded border bg-dark'>طلبات لم تكفل بعد
  </div>
  <div class='card-group'>
    {% for i in approved %}
    <div class="card bg-light text-dark" >
      <div class="card-header">
        {{i.title}}
      </div>
  <div class="card-body">

    <p class="card-text">{{i.info}}</p>


</div>
{% endfor %}
</div>
<br>

<div title="Student">
  <div class='rounded border bg-dark'>
    طلبات مكفولة
  </div>
  <div class='card-group'>
    {% for i in approved %}
    <div class="card bg-light text-dark" >
      <div class="card-header">
        {{i.title}}
      </div>
  <div class="card-body">

    <p class="card-text"> {{i.info}}</p>
    <p class="card-text"> اسم الكفيل :</p>
    <p class="card-text"> رقم الهاتف:</p>


    <a href="#" class="card-link">Card link</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
</body>
</html>
