{#{% extends 'base.html' %}#}


{% block content %}
<br>
  <h1 align="center"> حول التطبيق </h1>
  <br>
  <div class="container" align="center" >
    <h3 align="center"> ماهو المشروع </h3>
     <blockquote>
      <p class="text-justify" dir="rtl"> مشروع خدمة مجتمع يقوم بعرض حالات الطلاب ولمن يستطيع أن يكفلهم مع مراعاة كرامة الطالب (الجهة المستفيدة) وسرية معلوماتهم.
          </p>
        </blockquote>
  </div>
  <br>
  <div class="container" align="center" >
    <h3 align="center"> كيفية العمل </h3>
     <blockquote>
      <p class="text-justify" dir="rtl">يتم عمل منشور يعرض به المرحلة واحتياج والمحافظة التي يوجد بها الطالب وعند موافقة الكفيل على المساعدة يتم رفع المنشور من الصفحة الرئيسية وظهور كافة معلومات الطالب للكفيل على صفحة الكفيل الخاصة وعند الغاء الكفيل مساعدة الطالب يعود ليظهر في الصفحة الرئيسية ومن حق الكفيل ان يأخذ طالبان تحت رعايته.
          </p>
        </blockquote>
  </div>
<br>
<br>
<div class="container" align="center" >
  <h3 align="center"> اللغات المستخدمة </h3>
   <blockquote>
    <p class="text-justify" dir="rtl"> Django: صفحة الويب و الدش بورد

        </p>
      </blockquote>
</div>
<br>
<h3 dir="rtl" align="center"><a href="http://127.0.0.1:8000/" >    العودة للصفحة الرئيسية </a></h3>
{% endblock content %}
