{#{% extends 'base.html' %}#}


{% block content %}

<h1>Contact Us</h1>
{#  اذا تمت عملية الارسال بنجاح #}
{% if msg_ok %}
<div class="alert alert-success" role="alert" align="right" style="width: 250px; height: 100px;">
  <hr>
   <p class="mb-0">{{msg_ok | safe }}</p>
 </div>
 <div>
 <a href="{% url 'home' %}">go to home</a> {# يتم التوجيه الى الصفحة الرئيسية#}
</div>
{% endif %}
{# اذا كان هنالك خطأ في عملية الارسال #}
{% if msg_er %}
<div class="alert alert-success" role="alert" align="right" style="width: 250px; height: 100px;">
  <hr>
   <p class="mb-0">{{msg_er | safe }}</p>
 </div>
{% endif %}
<br>
{%if not msg_ok or not msg_ok%}
<form method="post">
    {% csrf_token %}
    {{ form.as_p | safe }}
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form>
{% endif %}

<h3 dir="rtl"><a href="http://127.0.0.1:8000/" >   الصفحة الرئيسية  </a></h3>
{% endblock content %}
