{#{% extends 'base.html' %}#}

<div class="container rounded border " style="height: 450px">
{% block content %}
<h1> home page </h1>
<div class="container rounded border "  align="center">
  <!--  user -->
{% if auth == 4 %}
<h4 dir="rtl"> اذا لم يكن لديك حساب </h4>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/account/signup_student/" >   سجل كـ طالب  </a></h3>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/account/signup_sponsor/"> سجل كـ كفيل </a></h3>
<h4 dir="rtl"> اذا كان لديك حساب  </h4>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/account/login">تسجيل دخول</a></h3>
{% endif %}

<br>
<!-- #sponsor or student -->
{% if auth == 2 or auth == 3 %}
<h3 dir="rtl"><a href="http://127.0.0.1:8000/account/profile/">البروفايل</a></h3>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/account/logout">تسجيل خروج</a></h3>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/account/delete_account/">حذف الحساب</a></h3>
{% endif %}

<br>
<!-- student or sopnsor don't have approved -->
{% if auth == 5 or auth == 6 %}
<p > يرجى الانتظار لحين الموافقة على حسابك </p>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/account/logout">تسجيل خروج</a></h3>
{% endif %}

<br>
<!-- student or sopnsor or admin to veiw activity page -->
{% if  auth == 2  or  auth == 3 or auth == 1 %}
<h3 dir="rtl"><a href="http://127.0.0.1:8000/events/list/"> الانشطة</a></h3>
{% endif %}
<br>
{% if auth == 1 %}
<h3 dir="rtl"><a href="http://127.0.0.1:8000/dashboard"> صفحة الادمن </a></h3>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/account/logout">تسجيل خروج</a></h3>
{% endif %}
<br>
<!-- student -->
{% if  auth == 3 %}
<h3 dir="rtl"><a href="http://127.0.0.1:8000/students/add_re/"> اضافة طلب </a></h3>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/students/view_rq/"> عرض طلباتي </a></h3>
{% endif %}
<br>
<!--  sopnsor  -->
{% if  auth == 2 %}
<h3 dir="rtl"><a href="http://127.0.0.1:8000/sponsor/kafalat/"> عرض الطلبات الغير مكفولة </a></h3>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/sponsor/kafalaty/">  عرض طلباتي </a></h3>
{% endif %}
<br>

<h3 dir="rtl"><a href="http://127.0.0.1:8000/about/">  حول التطبيق  </a></h3>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/c4i/">  حول المبادرة  </a></h3>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/devteam/"> فريق العمل </a></h3>
<h3 dir="rtl"><a href="http://127.0.0.1:8000/contact/"> اتصل بنا </a></h3>
</div>
{% endblock content %}
</div>
