<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if student %}
        your are student
    <br><br>
    {% for i in student %}
    <img src="{{ i.img.url }}" alt="" style="width:300px">
    <br><br>
    your username :{{i.username}}
    <br><br>
    your name :{{i.full_name}}
    <br><br>
    your age :{{i.age}}
    <br><br>
    your birthDate :{{i.birth_date}}
    <br><br>
    your number :{{i.number}}
    <br><br>
    your city :{{i.city}}
    <br><br>
    your stage :{{i.stage}}
    <p>{{i.up_date}}</p>
    {% if ise == True %}
    {% if i.approved == True %}
    <a href="{% url 'delete_app' i.id %}" style="color:red">الغاء التفعيل</a>
    <a href="{% url 'stuReq' i.username %}"  style="color:red">طلباته</a>
    {% endif %}
    {% if i.approved == False %}
    <a href="{% url 'add_app' i.username %}" style="color:red">تفعيل</a>
    {% endif %}
    
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if sponsor %}
        your are sponsor
    <br><br>
    {% for i in sponsor%}
    <img src="{{ i.img.url }}" alt="" style="width:300px">
    <br><br>
    your username :{{i.username}}
    <br><br>
    your name :{{i.full_name}}
    <br><br>
    your age :{{i.age}}
    <br><br>
    your birthDate :{{i.birth_date}}
    <br><br>
    your number :{{i.number}}
    <br><br>
    your city :{{i.city}}
    <br><br>
    your work :{{i.work}}
    <br><br>
    your work_locations :{{i.work_locations}}
    <br><br>
    your salary :{{i.salary}}

    <p>{{i.up_date}}</p>
    {% if ise == True %}
    {% if i.approved == True %}
    <a href="{% url 'delete_appS' i.id %}" style="color:red">الغاء التفعيل</a>
    <a href="{% url 'sponsor_request' i.username %}"  style="color:red">كفالاته</a>
    {% endif %}
    {% if i.approved == False %}
    <a href="{% url 'add_appS' i.username %}" style="color:red">تفعيل</a>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
</body>
</html>
