<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <center>
                <form method="POST">{% csrf_token %}
                    <input type="text" placeholder="search" name="search" value="{{request.POST.search}}">
                    <button type="submit">Search</button>
                </form>
            </center>
<center>
    <h1>
    حسابات الطلاب المقبوله 

    </h1>
</center>
<form method="GET">
        <button type="submit">الغاء التفعيل</button>
    {% for ii in formStudentA %}
    <div style="background: #222;color: white;padding: 10px;">
        <span><a href="{% url 'info' ii.id %}" style="color:white">username: {{ii.username}} </a></span><br> <span>full name {{ii.full_name}}</span>
        <input type="checkbox" name="{{ii.id}}" value="a"> الغاء تفعيل <br>
        
        <br>
        
    </div>

    <br><br>
    {% endfor %}
</form>
    <br><br>
    <hr>
    <br>
    <center>
        <h1>

        حسابات الغير موافق عليها 

        </h1>
    </center>
    <form action="" method="GET">
            <button type="submit">تفعيل</button>
    {% for i in formStudentN %}
    <div style="background: #222;color: white;padding: 10px;">
        <span><a href="{% url 'info' i.id %}" style="color:white">username: {{i.username}} </a></span><br> <span>full name {{i.full_name}}</span>
        <input type="checkbox" name="{{i.id}}" value="n">تفعيل<br>
    </div>
    <br><br>
    {% endfor %}
    
</form>
</body>
</html>
