<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>
الطلبات الغير مقبوله
    </h1>
</center>
    {% for i in not_app %}
    <div style="background: #222;color: white;padding: 10px;">
        <span>title: {{i.title}} </span><br> <span>info {{i.info}}</span>
        <br>
        <a href="{% url 'ac_req' i.id %}">قبول الطلب</a>
        <a href="{% url 'del_req' i.id %}">رفض الطلب</a>
    </div>
    <br><br>
    {% endfor %}
    <br><br>
    <hr>
    <br>
    <center>
        <h1>

طلبات الغير مكفوله
        </h1>
    </center>
    {% for i in not_sponsor %}
    <div style="background: #222;color: white;padding: 10px;">
        <span>title: {{i.title}} </span><br> <span>info {{i.info}}</span>
        <br>
        <a href="{% url 'del_req' i.id %}">حذف الطلب</a>
    </div>
    <br><br>
    {% endfor %}
    <hr>
    <br>
    <center>
            <h1>
    الطلبات المكفوله
            </h1>
        </center>
        {% for i in sponsor %}
        <div style="background: #222;color: white;padding: 10px;">
            <span>title: {{i.title}} </span><br> <span>info {{i.info}}</span>
            <p> اسم الكفيل {{i.sponser}}</p>
            <br>
            <a href="{% url 'del_sponsoer' i.id %}">حذف الكفاله</a>
            <a href="{% url 'del_req' i.id %}">حذف الطلب</a>
        </div>
        <br><br>
    {% endfor %}
</body>
</html>
