<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>
كفالات قيد الموافقه
    </h1>
</center>
    {% for i in is_req %}
    <div style="background: #222;color: white;padding: 10px;">
        <span>title: {{i.title}} </span><br> <span>info {{i.info}}</span>
        <br>
    </div>
    <br><br>
    {% endfor %}
    <br><br>
    <hr>
    <br>
    <center>
        <h1>
كفالات
        </h1>
    </center>
    {% for i in is_sponsor %}
    <div style="background: #222;color: white;padding: 10px;">
        <span>title: {{i.title}} </span><br> <span>info {{i.info}}</span>
    
    </div>
    <br><br>
    {% endfor %}
    
</body>
</html>
