<!DOCTYPE html>
<html>

<head>
<style>

div{

  border-style: solid;
  border-width: 1px;
  width : 10%;
}
</style>
</head>

<body>

                {% for i in k %}
    <div>
                    <h3 scope="row">{{ i.id | safe }}</h3>
                    <!-- <td>{{ i.name }}</td> -->
                    <h3><a href="{{i.id}}">{{ i.title | safe }}</a> </h3>
                    <h3>{{ i.info | safe }}</h3>
                    <h3>{{ i.approved | safe }}</h3>

    </div>
                {% endfor %}


</body>

</html>
