<!DOCTYPE html>
<html>

<head>


</head>

<body>
        <table class="table">
            <thead>
                <tr>
                   <th scope="col" class="table-success">id</th>
                    <th scope="col" class="table-success">title</th>
                    <th scope="col" class="table-success">info</th>
                    <th scope="col" class="table-success">sender</th>
                    <th scope="col" class="table-success">date_up</th>
                    <th scope="col" class="table-success">sponser</th>
                    <th scope="col" class="table-success">approved</th>
                    <th scope="col" class="table-success">req_spon</th>
                </tr>
            </thead>
            <tbody>
                {% for i in k %}
                <tr>
                    <th scope="row">{{ i.id }}</th>
                    <!-- <td>{{ i.name }}</td> -->
                    <td><a href="{{i.id}}">{{ i.title }}</a> </td>
                    <td>{{ i.info }}</td>
                    <td>{{ i.sender }}</td>
                    <td>{{ i.date_up }}</td>
                    <td>{{ i.sponser }}</td>
                    <td>{{ i.approved }}</td>
                    <td>{{ i.req_spon }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

</body>

</html>
