<!DOCTYPE html>
<html>

<head>
<style>

div{

  border-style: solid;
  border-width: 1px;
  width : 10%;
}
</style>
</head>

<body dir="rtl">
{% if auth == 2 %}
                {% for i in kT %}
    <div style="border: dashed 2px green; width: 300px;display: inline-block; background-color: lightgreen;" dir="rtl">

                    <h3 scope="row"><a href="req/{{i.id | safe}}" class="button"> كفل الطلب </a></h3>

                    <!-- <td>{{ i.name }}</td> -->

                      <h3>عنوان الطلب:{{ i.title | safe }} </h3>

                    <h3>تفاصيل الطلب:{{ i.info | safe }}</h3>
                    {% endfor %}
{% endif %}
  </div>




  {% if auth == 1%}
  <center><h1>الطلبات المقبولة<br></center>
      {% for i in kta %}



      <div style="border: dashed 2px green; width: 300px;display: inline-block; background-color: lightgreen;" dir="rtl">

                        <h3>عنوان الطلب:{{ i.title | safe }} </h3>

                      <h3>تفاصيل الطلب:{{ i.info | safe }}</h3>
                      {% if i.req_spon != '' %}
                                    <h3> طلب كفاله: {{ i.req_spon | safe }}</h3>
                                    <h3 scope="row"><a href="adminA/{{i.id | safe}}" class="button"> قبول الطلبب </a></h3>
                                    <h3 scope="row"><a href="adminb/{{i.id | safe}}" class="button">رفض لطلب  </a></h3>
                                  {% endif %}

                                  {% if i.sponser != '' %}
                                                <h3> الكفيل: {{ i.sponser | safe }}</h3>
                                                  <h3 scope="row"><a href="admind/{{i.id | safe}}" class="button">حذف الكفيل  </a></h3>
                                              {% endif %}





      </div>
{% endfor %}

<hr>

                <center><h1>الطلبات الغير مقبوله<br></center>
                {% for i in kF %}
    <div style="border: dashed 2px green; width: 300px;display: inline-block; background-color: lightgreen;" dir="rtl">
                    <h3 scope="row">{{ i.id | safe }}</h3>
                    <!-- <td>{{ i.name }}</td> -->
                    <h3><a href="{{i.id}}">{{ i.title | safe }}</a> </h3>
                    <h3>{{ i.info | safe }}</h3>
                    <h3>{{ i.approved | safe }}</h3>

    </div>

{% endfor %}
{% endif %}

</body>

</html>
