<!DOCTYPE html>
<html>
<head>
<style>
div{
    border-style: solid;
    border-width: 1px;
    width : 10%;
  }
  #vv{
      border-style: solid;
      border-width: 1px;
      width : 10%;
      background-color: #81ecec;
    }

</style>
</head>

<body>

    {% for i in m %}
        {% if i.approved == False %}
        <div id='vv'>
          <h3>not approved</h3>
                  <h3><a href="{{i.id}}">{{ i.title | safe }}</a> </h3>
                  <h3>{{ i.info | safe }}</h3>
                  <h3>{{ i.sender | safe }}</h3>

        </div>

      {% endif %}

  <br/>

                {% if i.approved == True %}
  <br/>

                <div>
                  <h3> approved</h3>
                        <h3><a href="{{i.id}}">{{ i.title | safe }}</a> </h3>
                        <h3>{{ i.info | safe }}</h3>
                        <h3>{{ i.sender | safe }}</h3>

                </div>

{% endif %}

{% endfor %}


</body>

</html>
