<!DOCTYPE html>
<html>
<head>
<style>
div{
    border-style: solid;
    border-width: 1px;
    width : 10%;
  }
  #vv{
      border-style: solid;
      border-width: 1px;
      width : 10%;
      background-color: #81ecec;
    }

</style>
</head>
<body>



    {% for i in ma %}
      <div style='display: inline-block;' id='vv'>
          <h5>طلبات لم يتم الموافقه على كفالته*ا*</h5>
          <h3>اسم الطلب: {{ i.title | safe }}</h3>
          <h3>معلومات الطلب: {{ i.info | safe }}</h3>
          <h3> اسم طالب الكفاله: {{ i.req_spon | safe }}</h3>
          <!-- <h3>{{ i.sender | safe }}</h3> -->
          <h3><button onclick="window.location.href='del/{{i.id | safe}}'">حذف الكفاله </button></h3>
      </div>
    {% endfor %}




    {% for i in m %}
      <div style='display: inline-block;'>
          <h5>*طلبات تمت الموافقه على كفالتها*</h5>
          <h3>اسم الطلب: {{ i.title | safe }}</h3>
          <h3>معلومات الطلب: {{ i.info | safe }}</h3>
          <!-- <h3>{{ i.sender | safe }}</h3> -->
          <h3> اسم الكفيل: {{ i.sponser | safe }}</h3>
          <h3> رقم هاتف الكفيل: {{ i.sNumber | safe }}</h3>
      </div>
    {% endfor %}



</body>
</html>
