<!DOCTYPE html>
<html>
<head>
<style>
div{
    border-style: solid;
    border-width: 1px;
    width : 10%;
  }
  #vv{
      border-style: solid;
      border-width: 1px;
      width : 10%;
      background-color: #81ecec;
    }

</style>
</head>

<body>

    {% for i in ma %}
        <div id='vv'>
          <h3>not approved</h3>
                  <h3><a href="{{i.id}}">{{ i.title | safe }}</a> </h3>
                  <h3>{{ i.info | safe }}</h3>
                  <h3>{{ i.sender | safe }}</h3>
                    <h3> req: {{ i.req_spon | safe }}</h3>


        </div>

{% endfor %}
  <br/>

        {% for i in m %}
  <br/>

                <div>
                  <h3> approved</h3>
                        <h3><a href="{{i.id}}">{{ i.title | safe }}</a> </h3>
                        <h3>{{ i.info | safe }}</h3>
                        <h3>{{ i.sender | safe }}</h3>
                          <h3> sponsor: {{ i.sponser | safe }}</h3>

                </div>


{% endfor %}


</body>

</html>
